<h2>Registrar Ticket</h2>


<form (submit)="$event.preventDefault()">


<label>
Título:
</label>

<br>

<input
type="text"
name="titulo"
[(ngModel)]="ticket.titulo"
>


<br><br>


<label>
Descripción:
</label>

<br>

<textarea
name="descripcion"
[(ngModel)]="ticket.descripcion">
</textarea>


<br><br>


<label>
Categoría:
</label>

<br>

<select
name="categoria"
[(ngModel)]="ticket.categoria">


<option value="">
Seleccione
</option>


<option value="Hardware">
Hardware
</option>


<option value="Software">
Software
</option>


<option value="Red">
Red
</option>


</select>


<br><br>


<label>
Prioridad:
</label>

<br>


<select
name="prioridad"
[(ngModel)]="ticket.prioridad">


<option value="Alta">
Alta
</option>


<option value="Media">
Media
</option>


<option value="Baja">
Baja
</option>


</select>


<br><br>


<label>
Estado:
</label>

<br>


<select
name="estado"
[(ngModel)]="ticket.estado">


<option value="Abierto">
Abierto
</option>


<option value="En Proceso">
En Proceso
</option>


<option value="Resuelto">
Resuelto
</option>


<option value="Cerrado">
Cerrado
</option>


</select>


<br><br>


<button
type="button"
(click)="guardar()">

Guardar Ticket

</button>


</form>