<h2>
Lista de Tickets
</h2>


<p>
Total de tickets:
{{tickets.length}}
</p>


<table 
class="tabla-tickets"
*ngIf="tickets.length > 0">


<thead>

<tr>

<th>ID</th>

<th>Título</th>

<th>Descripción</th>

<th>Categoría</th>

<th>Prioridad</th>

<th>Estado</th>

<th>Acción</th>

</tr>

</thead>


<tbody>


<tr *ngFor="let ticket of tickets">


<td>
{{ticket.id}}
</td>


<td>
{{ticket.titulo}}
</td>


<td>
{{ticket.descripcion}}
</td>


<td>
{{ticket.categoria}}
</td>


<td>
{{ticket.prioridad}}
</td>


<td>
{{ticket.estado}}
</td>


<td>

<button
(click)="eliminarTicket(ticket.id!)">

Eliminar

</button>

</td>


</tr>


</tbody>


</table>



<p *ngIf="tickets.length === 0">

No existen tickets registrados.

</p>