.tabla-tickets {

  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

}


.tabla-tickets th,
.tabla-tickets td {

  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;

}


.tabla-tickets th {

  background-color: #6f42c1;
  color: white;

}


button {

  background-color: #e63946;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;

}


button:hover {

  opacity: 0.8;

}