# Carpetas generadas por NetBeans
build/
dist/

# Archivos privados de NetBeans
nbproject/private/

# Archivos compilados Java
*.class

# Logs
*.log

# Archivos temporales
*.tmp

# Windows
Thumbs.db

# Mac
.DS_Store
